{% extends 'mailing/base.html' %}
{% block content %}
{% load my_tag_media %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="{{ object.preview|mediapath }}" class="card-img-top" />
          <div class="card-body mb-5">
            <p class="card-text">{{ object|title }}({{ object.slug }})</p>
            <p class="text-center"> {{object.content}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-body-secondary">Автор: {{ object.author }}</small>
              <small class="text-body-secondary">{{ object.date_create }}</small>
              <small class="text-body-secondary">{{ object.count_views }} Просмотров</small>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
