{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Укажите электронную почту</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h4>{{ message }}</h4>
                        <input type="email" name="user_email">
                        <input type="submit" value="Отправить">
                    </form>
                </div>

            </div>
        </div>
</div>
{% endblock %}
